---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Deine Noten ‚H-schisch‘ ist jetzt zum Download verfügbar.";
const keywords = "H-schisch, Noten, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <ul>
    <li>
      <a href="/downloads/H-schisch.pdf" download class="cta-button">
        🎵 H-schisch – Noten
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1kE06mwl3h21gmy3GHga8S3z4TJNZHfjh"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 H-schisch – Mastering mp3
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1WbcLoOL13bK6u7WkhxVeSMv8kMjrw2Ik"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 H-schisch – BackingTrack mp3
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>