---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Deine Noten- & Tabulatur ‚What A Wonderful World‘ ist jetzt zum Download verfügbar.";
const keywords = "What A Wonderful World, Noten, Tabulatur, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=https://drive.google.com/file/d/1eaq6xvust8FULXYFKsf_BbY6rg6mKxeo"
        class="cta-button">
        📄 What A Wonderful World – Guitar
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1XVWDMNSSyJTGAZEhzE9BbXxPIi_8FPrb"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 What A Wonderful World – Mastering
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1iktdguTt2UE1zIrjcbcFnCHq3pScNf8G"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 What A Wonderful World – Backing Track
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>