---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Deine Noten- & Tabulaturblatt ‚Silence Is Golden‘ ist jetzt zum Download verfügbar.";
const keywords = "Silence Is Golden, Noten, Tabulatur, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <ul>
    <li>
      <a href="/downloads/Silence_Is_Golden-SteelGuitar.pdf" download class="cta-button">
        📄 Silence Is Golden – SteelGuitar
      </a>
    </li>
    <li>
      <a href="/downloads/Silence_Is_Golden-E-Guitar.pdf" download class="cta-button">
        📄 Silence Is Golden – E-Guitar
      </a>
    </li>
    <li>
      <a href="/downloads/Silence_Is_Golden-Choir.pdf" download class="cta-button">
        📄 Silence Is Golden – Choir
      </a>
    </li>
    <li>
      <a href="/downloads/Silence_Is_Golden-Bass.pdf" download class="cta-button">
        📄 Silence Is Golden – Bass
      </a>
    </li>
    <li>
      <a href="/downloads/Silence_Is_Golden-Drums.pdf" download class="cta-button">
        📄 Silence Is Golden – Drums
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1To1TjuzE46wN2Alaa2QyPb5Z5cNGLs7q"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 Silence Is Golden – BackingTrack
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1OsFtazOaWIKphqXaDHqeQGXZrJKt2RgP"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 Silence Is Golden – Mastering
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>