---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Deine Noten für Akkordeon ‚Hammond Flip‘ ist jetzt zum Download verfügbar.";
const keywords = "Lullaby In Blue, Noten, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <ul>
    <li>
      <a href="/downloads/Lullaby_In_Blue.pdf" download class="cta-button">
        📄 Lullaby In Blue – Noten
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1JTik5UfWYy7zKIvBejyQ2ltiJEyKQvc6"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 Lullaby In Blue – Play Along
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>