---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Download – Intermezzo Orgel Solo";
const description = "Download der Noten »Intermezzo«. Vielen Dank für deinen Kauf.";
const keywords = "Intermezzo, Orgel Download, Noten PDF";
const pageUrl = getPageUrl(Astro);
const downloads = [
  {
    label: "Intermezzo – Orgel Solo (PDF)",
    url: "/downloads/Intermezzo-Orgel.pdf",
  },
  {
    label: "Intermezzo – Mastering (MP3)",
    url: "https://drive.google.com/uc?export=download&id=1LUTGNnLkDNXUvSj8z_rZSB5X0ghuMqks",
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  noindex={true}
>
  <h1>Vielen Dank für deinen Kauf!</h1>

  <p>
    Du kannst deine <strong>Noten „Intermezzo – Orgel Solo“</strong> jetzt
    herunterladen.
  </p>

  <p>
    👉 <strong>Wichtig:</strong> Bitte speichere die Datei direkt auf deinem Gerät
    ab.
  </p>

  <hr />
  <ul>
    {
      downloads.map((file) => (
        <li>
          <a href={file.url} download class="download-button">
            👉 {file.label}
          </a>
        </li>
      ))
    }
  </ul>

  <hr />

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail:
    <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>

  <p class="vat-note">
    Rechnung mit ausgewiesener MwSt. auf Anfrage per E-Mail erhältlich.
  </p>

  <p>
    <a href="/" class="normal-links">← Zurück zur Startseite</a>
  </p>
</BaseLayout>
