---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Download – Rose Room Jazz Guitar Solo";
const description =
  "Download-Seite für das PDF »Rose Room – Guitar Solo«. Vielen Dank für deinen Kauf.";
const keywords = "Rose Room, Download, Guitar Solo, PDF";
const pageUrl = getPageUrl(Astro);
const downloads = [
  {
    label: "Rose Room – Guitar Solo (PDF)",
    url: "/downloads/Rose_Room_Solo.pdf",
  },
  {
    label: "Rose Room – Rhythm Guitar (PDF)",
    url: "/downloads/Rose_Room_RhythmGuitar.pdf",
  },
  {
    label: "Rose Room – Bass (PDF)",
    url: "/downloads/Rose_Room_Bass.pdf",
  },
  {
    label: "Rose Room – BackingTrack (MP3)",
    url: "https://drive.google.com/uc?export=download&id=1H2FHrduavM4X6sCkY8oj20Y4BlJzo_Xt ",
  },
  {
    label: "Rose Room – Mastering (MP3)",
    url: "https://drive.google.com/uc?export=download&id=1zuALZWdEh62ylIP3JpZT-8GaGyHbRbHp",
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Vielen Dank für deinen Kauf! 🎸</h1>

  <p>
    Hier kannst du dein <strong>„Rose Room“</strong> herunterladen.
  </p>

  <ul>
    {
      downloads.map((file) => (
        <li>
          <a href={file.url} download class="download-button">
            👉 {file.label}
          </a>
        </li>
      ))
    }
  </ul>

  <p class="download-note">
    Bitte speichere dir die Datei auf deinem Gerät. Der Download-Link steht dir
    jederzeit wieder zur Verfügung.
  </p>

  <p style="margin-top:2rem;">
    <a href="/" class="normal-links">← Zurück zur Startseite</a>
  </p>
</BaseLayout>
