---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Smile Noten & BackingTrack kaufen";
const description = "Download-Seite für das PDF »Smile – Guitar Solo«. Vielen Dank für deinen Kauf.";
const keywords = "Smile, Guitar Solo, Jazz Gitarre, Gitarrennoten, PDF Download";
const pageUrl = getPageUrl(Astro);
const downloads = [
  {
    label: "Smile – Guitar Solo (PDF)",
    url: "/downloads/Smile2.pdf",
  },
  {
    label: "Smile – Bass (PDF)",
    url: "/downloads/Smile-Bass.pdf",
  },
  {
    label: "Smile – BackingTrack (MP3)",
    url: "https://drive.google.com/uc?export=download&id=1HaZbTGFktoQHbDS2EgK7mQVG1E1FNKjk",
  },
  {
    label: "Smile – Mastering (MP3)",
    url: "https://drive.google.com/uc?export=download&id=1uffvgc9Jg8xIfPZbE9oHbFfiRemOFpq5",
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="product"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Vielen Dank für deinen Kauf!</h1>

  <p>
    Hier kannst du dein <strong>„Smile Jazz Guitar Solo“</strong> herunterladen.
  </p>

  <ul>
    {
      downloads.map((file) => (
        <li>
          <a href={file.url} download class="download-button">
            👉 {file.label}
          </a>
        </li>
      ))
    }
  </ul>

  <p class="vat-note">inkl. 19 % MwSt. – digitales Downloadprodukt</p>
  <hr />
  <p class="download-note">
    Bitte speichere dir die Datei auf deinem Gerät. Der Download-Link steht dir
    jederzeit wieder zur Verfügung.
  </p>

  <hr />

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail:
    <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>

  <p class="vat-note">
    <small>
      Rechnung mit ausgewiesener MwSt. auf Anfrage per E-Mail erhältlich.
    </small>
  </p>

  <p>
    <a href="/" class="normal-links">← Zurück zur Startseite</a>
  </p>
</BaseLayout>
