---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "Jetzt zum kostenlosen Probeunterricht anmelden!";
const description = "Formular zu einer Anmeldung für einen kostenlosen Probeunterricht";
const keywords = "anmeldung, kostenloser Probeunterricht, Schnupperstunde";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <p>
    Aus hygienischen Gründen können bei Blasinstrumente keine Instrumente zur
    Verfügung gestellt werden.
  </p>

  <div class="container4">
    <form
      name="anmeldung-form"
      method="POST"
      data-netlify="true"
      netlify-honeypot="bot-field"
      enctype="application/x-www-form-urlencoded"
      action="/thankyou/"
    >
      <!-- Honeypot field (versteckt für Nutzer, sichtbar für Bots) -->
      
      <p style="display:none">
        <label>Bitte nicht ausfüllen: <input type="text" name="_honey" /></label>
      </p>

      
      <input type="hidden" name="form-name" value="anmeldung-form">   
      <input
        type="hidden"
        name="_next"
        value="https://www.musicstudio-ziebart.de/thankyou/"
      > 

      <fieldset>
        <legend>Data</legend>
        <div class="form-element"></div>
        <br />
        <div>
          <label for="subject">Betreff:</label>
          <input
            name="_subject"
            type="text"
            id="subject"
            maxlength="40"
            placeholder="Hier den Betreff eintragen"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div class="form-element">
          <label for="born">Geburtsdatum:</label>
          <input
            type="date"
            autocomplete="bday-day"
            name="born"
            id="born"
            class="form-control form-control-lg"
          >
        </div>
        <br />
        <div class="form-element">
          <label for="desired_date">Wunschtermin:</label>
          <input
            type="datetime-local"
            name="desired_date"
            id="desired_date"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div class="form-element">
          <label for="phone">Telefon:</label>
          <input
            type="tel"
            autocomplete="tel-national"
            name="phone"
            id="phone"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div>
          <label for="instrument">Instrument:</label>
          <input
            type="text"
            name="instrument"
            id="instrument"
            class="form-control form-control-lg"
            required
          >
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            name="replyto"
            id="email"
            class="form-control form-control-lg"
            required
          >
        </div>    
        <div>
          <br />
          <label for="message">Nachricht:</label>
          <textarea
            name="message"
            id="message"
            cols="23"
            rows="10"
            class="form-control form-control-lg"
            placeholder="Wenn Sie wollen schreiben Sie hier eine Nachricht..."
          ></textarea>
        </div>
      </fieldset>
      <fieldset>
        <legend>Adresse</legend>
        <div>
          <label for="fname">Vorname:</label>
          <input
            type="text"
            autocomplete="given-name"
            name="fname"
            id="fname"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div>
          <label for="lname">Nachname:</label>
          <input
            type="text"
            autocomplete="family-name"
            name="lname"
            id="lname"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div>
          <label for="street">Strasse:</label>
          <input
            type="text"
            autocomplete="street-address"
            name="street"
            id="street"
            maxlength="22"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div>
          <label for="place">Ort:</label>
          <input
            type="text"
            autocomplete="address-level2"
            name="place"
            id="place"
            maxlength="20"
            class="form-control form-control-lg"
            required
          >
        </div>
        <br />
        <div>
          <label for="postal_code">Postleitzahl:</label>
          <input
            type="number"
            name="postal_code"
            autocomplete="postal-code"
            id="postal_code"
            class="form-control form-control-lg"
            required
          >
        </div>
      </fieldset>
      <fieldset>
        <div>
          <label for="parents">Eltern:</label>
          <input
            type="text"
            name="parents"
            id="parents"
            class="form-control form-control-lg"
          >
        </div>
        <br />
        <div>
          <label>
            <input type="checkbox" name="consent" value="accepted" required>
            Ich stimme der Verarbeitung meiner Daten gemäß der
            <a href="/datenschutz/" target="_blank">Datenschutzerklärung</a>
            zu.
          </label>
        </div>     
      </fieldset>
      <button type="submit" class="btn btn-lg btn-primary">Absenden</button>
    </form>
  </div>
  <h2>Freie Termine</h2>

  <div>
    <br />
    <!-- Tabelle für freie Termine-->
    <table class="table2">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Uhrzeit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Montag</td>
          <td>14:00</td>
        </tr>
        <tr>
          <td></td>
          <td>17:45</td>
        </tr>
        <tr>
          <td></td>
          <td>18:30</td>
        </tr>
        <tr>
          <td></td>
          <td>19:15</td>
        </tr>
        <tr>
          <td>Dienstag</td>
          <td>14:00</td>
        </tr>
        <tr>
          <td></td>
          <td>14:45</td>
        </tr>
        <tr>
          <td></td>
          <td>15:30</td>
        </tr>
        <tr>
          <td></td>
          <td>16:15</td>
        </tr>
        <tr>
          <td>Mittwoch</td>
          <td>14:00</td>
        </tr>
        <tr>
          <td></td>
          <td>14:45</td>
        </tr>
        <tr>
          <td></td>
          <td>15:30</td>
        </tr>
        <tr>
          <td></td>
          <td>16:15</td>
        </tr>
        <tr>
          <td>Donnerstag</td>
          <td>14:00</td>
        </tr>
        <tr>
          <td></td>
          <td>14:45</td>
        </tr>
        <tr>
          <td></td>
          <td>15:30</td>
        </tr>
        <tr>
          <td></td>
          <td>16:15</td>
        </tr>
        <tr>
          <td>Freitag</td>
          <td>13:00</td>
        </tr>
        <tr>
          <td></td>
          <td>17:00</td>
        </tr>
        <tr>
          <td></td>
          <td>17:45</td>
        </tr>
        <tr>
          <td></td>
          <td>18:30</td>
        </tr>
        <!-- Füge die anderen Tage ähnlich hinzu -->
      </tbody>
    </table>
  </div>
</BaseLayout>
<p>
  <a href="../index.html" class="normal-links">zurück</a>
</p>
<br />
