---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "Banjounterricht für 5-string Banjo";
const description =
  "Ich gebe Banjounterricht in Nürnberg. Ich nehme dazu die Schule von Rüdiger Helbig. Sie heißt Beginner Banjo. 🪕";
const keywords =
  "banjounterricht für 5-string banjo, banjounterricht, flint hill special - earl scruggs, train 45, cripple creek, beginner banjo, 5-string banjo, bluegrass banjo, ruediger helbig, banjo lernen deutsch, banjo unterricht, banjo workshop, banjounterricht in eibach, banjolehrer nürnberg, banjo spielen ohne noten, banjo kurs, bluegrass banjo lernen, banjounterricht für anfänger, banjo lernen, banjo für anfänger, banjolehrer, banjo workshop, 5-string banjo lernen, banjo anfaenger, banjo picker, banjo lessons, banjo open back";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <article>
    <section>
      <h2>Banjounterricht mit Beginner Banjo</h2>
      <p>von Rüdiger Helbig</p>
      <p>
        <img
          src="/images/helbig-banjoschule.webp"
          alt="Bild SEO Beginners Banjo von Ruediger Helbig"
          aria-label="Bild SEO Beginners Banjo von Ruediger Helbig"
        />
      </p>
      <p>
        Für den Banjounterricht oder im englischen Banjo Picker gibt es in
        deutsch von Rüdiger Helbig ein Werk. "Beginner Banjo" heißt es. Die
        Banjoschule bassiert wie es so üblich ist bei den Banjo Pickern auf
        Tabulaturen. Das heißt es werden keine Noten benutzt. Es ist auch eine
        CD dabei. Jeder Titel wird einmal langsam und dann schnell vorgespielt.
        Es werden am Anfang Rolls und Techniken vorgestellt, danach folgen vier
        Bluegrass Stücke. Später gibt es ein Kapital über sogenannte Backups. Es
        geht um die Banjo Begleitung. Außerdem folgt dann ein Kapital über
        Melodic-Style. Es werden auch Fiddle-Tunes vorgestellt. Das sind Stücke
        die früher auf einer Violine gespielt worden sind und jetzt auf Banjo
        umgeschrieben worden sind.
      </p>
      <br />
      <br />
      <br />
      <br />
      <hr />
    </section>
    <section>
      <h2>Banjo spielen!</h2>
      <p>von Sebastian Schröder</p>
      <p>
        <img
          src="/images/schroeder-banjoschule.webp"
          alt="Bild SEO Banjo spielen von Sebastian Schroeder"
          aria-label="Bild SEO Banjo spielen von Sebastian Schroeder"
        />
      </p>
      <p>Die umfassende Schule für das 5-string Banjo</p>
      <ol>
        <li>Für Beginner und Profis</li>
        <li>Alle Stile und Techniken</li>
        <li>Einfache Tabulatur</li>
      </ol>
      <p>
        Die Schule von Sebastian Schröder ist einfacher als die von Rüdiger
        Helbig. Wer also Probleme mit dem Timing bzw. Rhythmus hat würde ich
        diese Schule empfehlen. Ob mit 2 oder 3 Fingern oder Fingerpicks - nach
        einer genauen Einführung kann selbst gewählt werden, welche Stile und
        Techniken auf dem Lehrplan stehen. Alle Übungen sind auf einer mp3 CD
        enthalten. Dank der leichtverständlichen Tabulatur sind keine
        Notenkenntnisse erforderlich.
      </p>
      <p>
        Beispiel von Pete Seeger's Begleitungsstile für Banjo
        <a
          href="/bilder/04_seeger_picking.pdf"
          target="_blank"
          class="normal-links">ansehen</a
        >
        und
        <a href="/Songs/Skip_To_My_Lou.mp3" target="_blank" class="normal-links"
          >anhören</a
        >
      </p>
      <p>
        Das Buch können Sie bei Edition Dux <a
          href="https://www.dux-verlag.de/autoren/sebastian-schroeder/banjo-spielen.html"
          target="_blank"
          class="normal-links">kaufen!</a
        >
      </p>
      <br />
      <p>
        Weiterführende Lektionen <a
          href="/banjo-videoanleitung/"
          class="normal-links">Zusätzliche Materialien</a
        >
      </p>
      <h3>Hier noch einige 5-string Banjostücke zum selber probieren!</h3>
      <p>
        Snuffy Jenkins war neben Earl Scruggs einer der Erfinder der "Three
        Finger Styles". Früher hat man ja nur mit 2 Fingern in der rechten Hand
        gepielt. Außerdem war er bekannt das er bei seinen Auftritten immer sehr
        spaßig war.
      </p>
      <p>Banjo spielen macht Spaß und gute Laune!</p>
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td data-label="Titel">Nancy Rowland</td>
            <td data-label="Komponist">Snuffy Jenkins</td>
            <td data-label="Instrument">5-string Banjo</td>
          </tr>
          <tr>
            <td> &nbsp; </td>
            <td data-label="anhören">
              <a
                href="https://www.youtube.com/watch?v=lFrx4fhty3A"
                target="_blank"
                class="normal-links">Video Tutorial</a
              >
            </td>
            <td data-label="ansehen">
              <a href="/shop/nancy-rowland/" class="normal-links">kaufen</a>
            </td>
            <td> leicht </td>
          </tr>
          <tr>
            <td>2</td>
            <td data-label="Titel">Dear Old Dixie</td>
            <td data-label="Komponist">Traditional</td>
            <td data-label="Instrument">5-string Banjo</td>
          </tr>
          <tr>
            <td> &nbsp; </td>
            <td data-label="anhören">
              <a
                href="https://www.youtube.com/watch?v=QRUVEtA1vyo"
                target="_blank"
                class="normal-links">Video Tutorial</a
              >
            </td>
            <td data-label="ansehen">
              <a href="/shop/dear-old-dixie/" class="normal-links">kaufen</a>
            </td>
            <td> schwierig </td>
          </tr>
          <tr>
            <td>3</td>
            <td data-label="Titel">Train 45</td>
            <td data-label="Komponist">Traditional</td>
            <td data-label="Instrument">5-string Banjo</td>
          </tr>
          <tr>
            <td> &nbsp; </td>
            <td data-label="anhören">
              <a
                href="https://www.youtube.com/watch?v=uo5ojnmRHPo"
                target="_blank"
                class="normal-links">Video Tutorial</a
              >
            </td>
            <td data-label="ansehen">
              <a href="/shop/train45/" class="normal-links">kaufen</a>
            </td>
            <td> leicht </td>
          </tr>
          <tr>
            <td>4</td>
            <td data-label="Titel">Black Mountain Rag</td>
            <td data-label="Komponist">Traditional</td>
            <td data-label="Instrument">5-string Banjo</td>
          </tr>
          <tr>
            <td> &nbsp; </td>
            <td data-label="anhören">
              <a
                href="https://www.youtube.com/watch?v=44O9ZSf7Dhc"
                target="_blank"
                class="normal-links">Video Tutorial</a
              >
            </td>
            <td data-label="ansehen">
              <a href="/shop/black-mountain-rag/" class="normal-links">kaufen</a
              >
            </td>
            <td> mittelschwer </td>
          </tr>
          <tr>
            <td>5</td>
            <td data-label="Titel">Cripple Creek</td>
            <td data-label="Komponist">Traditionel</td>
            <td data-label="Instrument">5-string Banjo</td>
          </tr>
          <tr>
            <td> &nbsp; </td>
            <td data-label="anhören">
              <a
                href="https://www.youtube.com/watch?v=WmYlSqvpUkw"
                target="_blank"
                class="normal-links">Video Tutorial</a
              >
            </td>
            <td data-label="ansehen">
              <a href="/shop/cripple-creek/" class="normal-links">kaufen</a>
            </td>
            <td> leicht </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->
      <br />
      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Nancy Rowland</div>
        <div><span>Komponist:</span> Snuffy Jenkins</div>
        <div><span>Instrument:</span> 5-string Banjo</div>
        <div>
          <span>anhören:</span><a
            href="https://www.youtube.com/watch?v=lFrx4fhty3A"
            target="_blank"
            class="normal-links"
          >
            Video</a
          >
        </div>
        <div>
          <span>Tabulatur kaufen:</span><a
            href="/shop/nancy-rowland/"
            target="_blank"
            class="normal-links"
          >
            kaufen</a
          >
        </div>
        <div>
          <span>Schwierigkeitsgrad:</span>
          leicht
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> Dear Old Dixie</div>
        <div><span>Komponist:</span> Traditionel</div>
        <div><span>Instrument:</span> 5-string Banjo</div>
        <div>
          <span>anhören:</span><a
            href="https://www.youtube.com/watch?v=QRUVEtA1vyo"
            target="_blank"
            class="normal-links"
          >
            Video</a
          >
        </div>
        <div>
          <span>Tabulatur kaufen:</span><a
            href="/shop/dear-old-dixie/"
            target="_blank"
            class="normal-links"
          >
            kaufen</a
          >
        </div>
        <div>
          <span>Schwierigkeitsgrad:</span>
          schwierig
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 3</div>
        <div><span>Titel:</span> Train 45</div>
        <div><span>Komponist:</span> Traditionel</div>
        <div><span>Instrument:</span> 5-string Banjo</div>
        <div>
          <span>anhören:</span><a
            href="https://www.youtube.com/watch?v=uo5ojnmRHPo"
            target="_blank"
            class="normal-links"
          >
            Video</a
          >
        </div>
        <div>
          <span>Tabulatur kaufen:</span><a
            href="/shop/train45/"
            target="_blank"
            class="normal-links"
          >
            kaufen</a
          >
        </div>
        <div>
          <span>Schwierigkeitsgrad:</span>
          leicht
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 4</div>
        <div><span>Titel:</span> Black Mountain Rag</div>
        <div><span>Komponist:</span> Traditionel</div>
        <div><span>Instrument:</span> 5-string Banjo</div>
        <div>
          <span>anhören:</span><a
            href="https://www.youtube.com/watch?v=44O9ZSf7Dhc"
            target="_blank"
            class="normal-links"
          >
            Video</a
          >
        </div>
        <div>
          <span>Tabulatur kaufen:</span><a
            href="/shop/black-mountain-rag/"
            target="_blank"
            class="normal-links"
          >
            kaufen</a
          >
        </div>
        <div>
          <span>Schwierigkeitsgrad:</span>
          mittelschwer
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 5</div>
        <div><span>Titel:</span> Cripple Creek</div>
        <div><span>Komponist:</span> Traditionel</div>
        <div><span>Instrument:</span> 5-string Banjo</div>
        <div>
          <span>anhören:</span><a
            href="https://www.youtube.com/watch?v=WmYlSqvpUkw"
            target="_blank"
            class="normal-links"
          >
            Video</a
          >
        </div>
        <div>
          <span>Tabulatur kaufen:</span><a
            href="/shop/cripple-creek/"
            target="_blank"
            class="normal-links"
          >
            kaufen</a
          >
        </div>
        <div>
          <span>Schwierigkeitsgrad:</span>
          leicht
        </div>
      </div>

      <br />
    </section>
  </article>
</BaseLayout>
