---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
const pageTitle = "Notenschrift und Harmonielehre Grundbegriffe lernen mit einer Videoanleitung";
const description = "Harmonielehre, Noten lesen, Intervalle, Dreiklänge und Funktionstheorie 🤓. Einfach mal vorbei schauen um was zu lernen!";
const keywords = "harmonielehre, noten lesen, intervalle, dreiklaenge, funktiontsheorie";
const SITE_URL = import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/harmonielehre/`;
// Video Daten
const videoData = [
  {
    loc: `${SITE_URL}/harmonielehre/`,
    title: "Notenschrift",
    description: "Ich möchte mit diesem Video die Notenschrift erklären die ja doch so wichtig für die Musik ist! Ich möchte den Schülern, Musikinteressierte oder Hobbymusiker auf diese Weise das Noten lesen und die Harmonielehre ein bisschen näher bringen! Die Videos sind so aufgebaut das man zuerst die Noten lesen kann, dann kommen die Intervalle, dann die Dreiklänge und zuletzt die Funktiontheorie. Also bitte nach der Reihenfolge lernen! Ich werde mit dem ersten Video das Noten lesen erklären.",
    contentLoc: "https://www.youtube.com/embed/Hu4ef1IkuG0",
    thumbnailLoc: "https://i.ytimg.com/vi/Hu4ef1IkuG0/hqdefault.jpg",
    publicationDate: "2021-04-19T00:00:00+01:00",
    duration: "PT13M52S",
  },
  {
    loc: `${SITE_URL}/harmonielehre/`,
    title: "Intervalle",
    description: "Ich werde in diesem Video versuchen die Intervalle zu erklären und zu bestimmen. Ein Intervall ist der Tonabstand zweier Töne. Also Prime, Sekunde, Terz, Quarte, Quinte, Sexte, Septime und Oktave.",
    contentLoc: "https://www.youtube.com/embed/804rrOOFzAQ",
    thumbnailLoc: "https://i.ytimg.com/vi/804rrOOFzAQ/hqdefault.jpg",
    publicationDate: "2021-04-27T00:00:00+01:00",
    duration: "PT17M55S",
  },
  {
    loc: `${SITE_URL}/harmonielehre/`,
    title: "Dreiklänge",
    description: "Ich werde in diesem Video versuchen die Dreiklänge besser zu verstehen. Sie sind wichtig da diese zum Beispiel eintscheiden ob ein Akkord ein Durakkord ist oder ein Mollakkord und noch vieles mehr.",
    contentLoc: "https://www.youtube.com/embed/fgzboODvlQ4",
    thumbnailLoc: "https://i.ytimg.com/vi/fgzboODvlQ4/hqdefault.jpg",
    publicationDate: "2021-05-05T00:00:00+01:00",
    duration: "PT20M44S",
  },
  {
    loc: `${SITE_URL}/harmonielehre/`,
    title: "Funktionsthorie",
    description: "Bei der Funktionstheorie geht es haupsächlich darum auf welchen Stufen die Akkorde stehen. Die drei Haupdreiklänge heißen zum Beispiel Tonika, Dominante und Subdominante. Sie liegen auf der I., IV. und V. Stufe.",
    contentLoc: "https://www.youtube.com/embed/tCkpok099xw",
    thumbnailLoc: "https://i.ytimg.com/vi/tCkpok099xw/hqdefault.jpg",
    publicationDate: "2021-05-10T00:00:00+01:00",
    duration: "PT12M22S",
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogDescription={description}
  ogUrl={pageUrl}
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <article id="harmonielehre">
    <h2>Lernvideos</h2>
    <section>
      {
        videoData.map((video) => (
          <div vocab="http://schema.org/" typeof="VideoObject">
            <meta property="name" content={video.title} />
            <meta property="description" content={video.description} />
            <meta property="thumbnailUrl" content={video.thumbnailLoc} />
            <meta property="uploadDate" content={video.publicationDate} />
            <meta property="duration" content={video.duration} />
            <meta property="embedUrl" content={video.contentLoc} />

            <div class="video-container-wrapper">
              <div class="video-container">
                <lite-youtube
                  videoid={video.contentLoc.split("/").pop()}
                  style={
                    "background-image: url('" + video.thumbnailLoc + "');"
                  }
                >
                  <a
                    href={video.contentLoc}
                    class="lty-playbtn"
                    title={video.title}
                  >
                    <span class="lyt-visually-hidden">
                      Play Video: {video.title}
                    </span>
                  </a>
                </lite-youtube>
              </div>
              <h2>{video.title}</h2>
              <p>{video.description}</p>
            </div>
          </div>
        ))
      }
    </section>
    <p>
      Hier könnt ihr euch ein <a
        href="/images/Notenblatt.pdf"
        target="_blank"
        class="normal-links">leeres Notenblatt</a
      > downloaden! Es dient für den Aufgabenanhang für das Video Notenschrift.
      Downloaden, ausdrucken und dann am besten mit Bleistift die Noten und darunter
      die Buchstaben schreiben!
    </p>
  </article>
</BaseLayout>

<YouTube />
