---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
const pageTitle = "Weiterführende Lektionen für Keyboard";
const description = "Lerne das Stück 🎹 Hammond Flip von Klaus Wunderlich.";
const keywords = "gitarrenunterricht für akustische gitarre, yesterday - beatles, city of neworleans - arlo guthrie";
const SITE_URL = import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/keyboard-videoanleitung/`;


// RDFa-Markup für das Video nur auf dieser Seite
// Video-Daten

const videoData = [
  {
    loc: `${SITE_URL}/keyboard-videoanleitung/`,
    title: "Hammond Organ - Hammond Flip - Klaus Wunderlich",
    description: "Keyboard Tutorial über eine Klaus Wunderlich Komposition. Das Stück heißt 'Hammond Flip'.",
    contentLoc: "https://www.youtube.com/embed/244HlpB3JoA",
    thumbnailLoc: "https://i.ytimg.com/vi/244HlpB3JoA/hqdefault.jpg",
    publicationDate: "2021-07-08T14:00:00+02:00",
    duration: "PT3M6S",
  },
  {
    loc: `${SITE_URL}/keyboard-videoanleitung/`,
    title: "Hammond Organ Komponist: Klaus Wunderlich Titel: H-schisch",
    description: "Ein Keyboard Tutorial über den Komponist Klaus Wunderlich. Das Stück das ich spiele heißt 'H-schisch'. Das ist in einem Notenheft von ihm mit 12 Kompositionen. Klaus Wunderlich brachte ein Notenbuch heraus mit 12 Kompositionen von ihm. Für jede Tonart komponierte er ein Stück. Ich habe das Stück in H Durgewählt. Ich habe es mit einem HAMMOND XM-1 Expander aufgenommen.",
    contentLoc: "https://www.youtube.com/embed/dEih42vJn2M",
    thumbnailLoc: "https://i.ytimg.com/vi/dEih42vJn2M/hqdefault.jpg",
    publicationDate: "2025-04-22T14:00:00+02:00",
    duration: "PT4M16S",
  },
  {
    loc: `${SITE_URL}/keyboard-videoanleitung/`,
    title: "Hammond Organ Komponist: Klaus Wunderlich Titel: E-Hering",
    description: "Noch ein Stück aus dem Heft 12 Kompositionen von Klaus Wunderlich. Ein Keyboard Tutorial über den Komponisten Klaus Wunderlich. Titel: E-Hering.",
    contentLoc: "https://www.youtube.com/embed/dQVFo8bhVSU",
    thumbnailLoc: "https://i.ytimg.com/vi/dQVFo8bhVSU/hqdefault.jpg",
    publicationDate: "2025-04-21T14:00:00+02:00",
    duration: "PT5M38S",
  },
  {
    loc: `${SITE_URL}/keyboard-videoanleitung/`,
    title: "Hammond Organ - Intermezzo",
    description: `Ich habe vor langer Zeit einmal eine Studioaufnahme mit einer Hammond Orgel A 100 gemacht und ich wollte einmal ein Video darüber machen. Das Stück ist eine Eigenkomposition und ich habe es "Intermezzo" genannt. <a href="/bilder/Intermezzo.pdf" target="_blank" class="normal-links" rel="noopener">Noten als PDF herunterladen</a>.`,
    contentLoc: "https://www.youtube.com/embed/D3X3lxcn780",
    thumbnailLoc: "https://i.ytimg.com/vi/D3X3lxcn780/hqdefault.jpg",
    publicationDate: "2021-05-16T14:00:00+02:00",
    duration: "PT1M46S",
  },
];
---
<BaseLayout
pageTitle={pageTitle}
description={description}
keywords={keywords}
href={pageUrl}
ogTitle={pageTitle}
ogDescription={description}
ogUrl={pageUrl}
twitterTitle={pageTitle}
twitterDescription={description}
twitterUrl={pageUrl}
>
<br />
<!-- RDFa-Markup Struktur für das VideoObject -->
{
    videoData.map((video) => (
      <div vocab="http://schema.org/" typeof="VideoObject">
        <meta property="name" content={video.title} />
        <meta property="description" content={video.description} />
        <meta property="thumbnailUrl" content={video.thumbnailLoc} />
        <meta property="uploadDate" content={video.publicationDate} />
        <meta property="duration" content={video.duration} />
        <meta property="embedUrl" content={video.contentLoc} />

        <div class="video-container-wrapper">
          <div class="video-container">
            <lite-youtube
              videoid={video.contentLoc.split("/").pop()}
              style={
                "background-image: url('" + video.thumbnailLoc + "');"
              }
            >
              <a
                href={video.contentLoc}
                class="lty-playbtn"
                title={video.title}
              >
                <span class="lyt-visually-hidden">
                  Play Video: {video.title}
                </span>
              </a>
            </lite-youtube>
          </div>
          <h2>{video.title}</h2>
          <p set:html={video.description}></p>
        </div>
      </div>
    ))
}

<YouTube />
</BeseLayout>