---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle =
  "Klavierunterricht in Nürnberg | Klavier lernen mit Spaß – Musicstudio Ziebart";
const description =
  "Professioneller Klavierunterricht in Nürnberg (Eibach) 🎹. Klassik, Pop, Ragtime & Filmmusik. Kostenloser Probeunterricht für Anfänger & Fortgeschrittene.";
const keywords =
  "klavierunterricht in nürnberg - musicstudio ziebart, klavierunterricht, klavierunterricht nürnberg, klavier spielen lernen, klavier lernen nürnberg, klavierlehrer nürnberg, klavierschule nürnberg, klavierunterricht in der naehe, klavierstücke schnell spielen";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <article>
    <p>
      <img
        src="/images/klavierunterricht.webp"
        alt="Schüler beim Klavierunterricht in Nürnberg im Musicstudio Ziebart"
        loading="lazy"
      />
    </p>
    <br />
    <section>
      <h2>
        <strong>Klavierunterricht in Nürnberg</strong> – Alle Infos für Anfänger
        & Fortgeschrittene
      </h2>
      <h2>Wann fängt man mit dem <strong>Klavierunterricht</strong> an?</h2>
      <p>
        Den <strong>Klavierunterricht</strong> fängt man frühestens ab der 2. Klasse
        meine ich. Also so 8 Jahre. Die Kinder können dann die Buchstaben lesen und
        das Noten erklären wird dann einfacher.
      </p>
      <h3>Wie schwer ist es ein Piano zu erlernen?</h3>
      <p>
        Das Klavier spielen lernen ist nicht so einfach. Man muss in der rechten
        Hand den Violinschlüssel lesen und in der linken Hand dann noch einen
        Bassschlüssel. Der Bassschlüssel wird aber anders gelesen als der
        Violinschlüssel. Er wird nähmlich zwei Stufen höher gerechnet. Also wenn
        man ein C liest wird es als E gespielt. Aber trotzdem bleibt für mich
        das Piano eines der schönsten Instrumente die es gibt.
      </p>
      <h3>Welche Instrumente kann ich als Erwachsener noch lernen?</h3>
      <p>
        Also ganz oben auf der Liste steht bei den Erwachsenen immer noch das
        Klavier, die Gitarre und auch das Schlagzeug. Klarinette und Akkordeon
        wird auch manchmal gespielt.
      </p>
      <h3>Wieviel kostet Klavier im Monat?</h3>
      <p>
        Also bei uns hier in Nürnberg so ungefähr 17,- EUR pro Schulstunde mit
        30 Minuten. Aber woanders kann es durchaus noch viel mehr kosten. Sie
        finden meine Preisliste oben auf dem Button Honorar.
      </p>
    </section>
    <section>
      <h2>Klavier oder Digitalpiano für den Klavierunterricht?</h2>
    </section>
    <p>
      <img
        src="/images/DB-32B.webp"
        alt="Digitalpiano DB-32B für den Klavierunterricht in Nürnberg"
        class="heumann"
        loading="lazy"
      />
    </p>
    <p>
      Den <strong>Klavierunterricht in Nürnberg</strong> gibt es schon seit 2014
      bei mir. Wie ich bereits schon beim Instrumentenkauf erwähnt habe nehmen viele
      Schüler heutzutage ein Digital Piano. Trotzdem meine ich das ein richtiges
      Klavier schöner im Klang ist. Aber man muss es auch warten. Das heißt mindestens
      einmal im Jahr stimmen oder die Hammerfilze müssen auch mal im Abstand von
      5 Jahren ausgewechselt werden. Hier unten im Bild ein gut klingendes Digitalpiano
      von Musikhaus Thomann ein DB-32B für 498,- EUR. Ein neues richtiges Klavier
      kostet heute so circa 5000,- EUR. Man braucht dann auch den Platz dafür. In
      Wohnungen gibt es oft Streit wegen dem Klavierspielen. In Häusern man es in
      der Regel nichts aus. Beim Digitalpiano kann man einfach die Lautstärke leiser
      drehen oder mit Kopfhörer spielen. Dies mag ich persönlich am liebsten. Ich
      störe damit keinen und kann so laut spielen wie ich möchte.
    </p>
  </article>
  <section>
    <h2>
      Welches Unterrichtsmaterial für den <strong>Klavierunterricht</strong> nehmen?
    </h2>
    <p>
      <img
        src="/images/heumann-wide.webp"
        alt="Heumann Klavierschule - Klavier spielen lernen"
        class="heumann"
        loading="lazy"
      />
    </p>
    <p>
      Für das Klavier spielen lernen nehme ich die <strong>Klavierschule</strong
      > von Hans-Günter Heumann. "Klavierspielen mein schönstes Hobby" heißt der
      Titel. Siehe unten im Bild. Es gibt 2 Bänder von diesem Werk und es beinhaltet
      auch eine CD in der alle Stücke vorgespielt werden. Diese Schule ist für Jugendliche
      und Erwachsene geschrieben worden. Also mindestens im Alter von 7 Jahren. Wenn
      die Kinder noch jünger sind nehme ich noch vorher eine leichtere Schule für
      5 jährige Schüler.
    </p>
    <p>
      Im Band 1 der <stron>Klavierschule</stron> ist ein langsamer Aufbau des Klavierspielens
      enthalten. Die Notenkenntnisse sowohl für die rechte Hand als auch für die
      linke Hand werden langsam erklärt. Die rechte Hand wird in einem Violinschlüssel
      und die linke Hand wird in einem Bassschlüssel aufgeschrieben. Der Bassschlüssel
      ist wieder anders zu lesen als der Violinschlüssel. Das Klavier ist auch die
      Königin der Instrumente weil man über 7 Oktaven zur Verfügung hat. Außerdem
      kann man per Tastendruck lauter oder leiser spielen.
    </p>
    <p>
      Es sind auch immer sogenannte Testblätter in der Klavierschule enthalten
      die ich dann gemeinsam mit den Schülern ausfülle um das Wissen nochmals zu
      vertiefen.
    </p>
  </section>
  <section>
    <h2>Welche Stücke kommen im Band 2 der Klavierschule vor?</h2>
    <p>
      Die <strong>Klavierschule</strong> von Hans-Günter Heumann ist so aufgebaut
      das man die Stücke nacheinander spielen muss da sie nach Schwierigkeitsgrade
      eingeteilt sind. Die Klavierstücke sind nicht nach Stilepochen also Barock,
      Klassik oder Romantik aufgeschrieben worden. Außer der Klassischen Musik ist
      auch moderne Musik dabei wie Ragtime oder Südamerikanische Musik. Wenn beide
      Bänder gespielt worden sind nehme ich noch den Zusatzband es heißt "Der Klassikband"
      von Hans-Günter Heumann. Diesen Band muss man wieder nacheinander spielen da
      es einen Stufenaufbau besitzt.
    </p>
    <p>
      Jedenfalls macht es den Schülern eine Menge Spaß mit diesem
      Unterrichtsmaterial.
    </p>
    <h3>Vorteile des Klavierunterrichts bei mir:</h3>
    <ul>
      <li>✅ Kostenloser Probeunterricht</li>
      <li>✅ Individuelle Unterrichtsmethoden</li>
      <li>✅ Alle Stilrichtungen: Klassik, Pop, Filmmusik</li>
    </ul>

    <p>
      <a
        href="/instrumentenkauf/#Klavier"
        class="normal-links"
        aria-label="Klavier kaufen: Tips für Anfänger"
        >Klavier kaufen: Tipps für Anfänger</a
      >
    </p>
    <p>
      Weiterführende Lektionen:
      <a
        href="/klavier-videoanleitung/"
        class="normal-links"
        aria-label="Videoanleitungen Bach Präludium und Dvořák – Aus der Neuen Welt"
      >
        Video-Tutorials: Bach Präludium & Dvořák – Aus der Neuen Welt
      </a>
    </p>
    <p>
      <a
        href="/unterricht/"
        class="normal-links"
        aria-label="Zurück zu unterricht"
      >
        Zurück zu Unterricht
      </a>
    </p>
  </section>
  <section>
  <h2>Häufige Fragen zum Klavierunterricht</h2>
  <h3>Wie schnell lerne ich Klavier?</h3>
  <p>
    Also mindestens zwei Jahre bis man halbwegs spielen kann. Dann ist man aber
    noch kein Virituose. Klavier ist für mich das schwierigste Instrument
    überhaupt aber auch eines der schönsten.
  </p>
  </section>

  <section class="cta">
    <h2>🎸 Jetzt Klavierunterricht starten!</h2>
    <p>
      Egal ob Anfänger oder Fortgeschritten – melde dich für eine kostenlose
      Probestunde an und entdecke, wie viel Spaß Klavier spielen macht.
    </p>
    <p>
      <a
        href="/anmeldung/"
        class="cta-button"
        aria-label="Jetzt kostenlos zum Klavierunterricht in Nürnberg anmelden"
      >
        👉 Jetzt zur einer kostenlosen Klavierstunde anmelden!
      </a>
    </p>
  </section>
</BaseLayout>
