---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "ThankYou";
const description = "Absendebestaetigung";
const keywords = "absendebestaetigung";
const pageUrl = getPageUrl(Astro);
---
<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
<h2>Dankeschön</h2>
<p>
    Ihre Nachricht ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<p>
    <a href="/" class="normal-links">go back!</a>
</p>
</BaseLayout>