---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";
const pageTitle = "Inhaltsverzeichnis der Kurse";
const description =
  "Sofort auf Notenbücher und Musiknoten zugreifen – ohne Abo, ohne automatische Verlängerung.";
const keywords = "Notenbücher, Musiknoten, Gitarrennoten, Download Noten";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <span id="top"></span>
  <p>
    Nach dem Kauf erhalten Sie direkten Zugriff auf alle Noten und Playbacks –
    ganz ohne Abo.
  </p>

  <ul>
    <li>✅ Sicher bezahlen</li>
    <li>✅ Sofortiger Zugriff auf alle Noten und Playbacks</li>
    <li>✅ Zugang für einen unbegrenzten Zeitraum</li>
  </ul>

  <p>
    Du behältst jederzeit die volle Kontrolle. Kein Zeitdruck, kein
    Kleingedrucktes.
  </p>

  <!-- Inhaltsverzeichnis: Desktop und Mobile -->
  <nav class="toc-desktop" aria-label="Inhaltsverzeichnis">
    <ul>
      <li><a href="#klavier-kurse" class="normal-links">Klavier Kurse</a></li>
      <li><a href="#jazz-guitar" class="normal-links">Jazz Guitar Kurse</a></li>
      <li>
        <a href="#banjo-5-string" class="normal-links">5-string Banjo Kurse</a>
      </li>
    </ul>
  </nav>

  <details class="toc-mobile" role="navigation" aria-label="Inhaltsverzeichnis">
    <summary>Inhaltsverzeichnis</summary>
    <ul>
      <li><a href="#klavier-kurse" class="normal-links">Klavier Kurse</a></li>
      <li><a href="#gitarren-kurse" class="normal-links">Gitarren Kurse</a></li>
      <li>
        <a href="#banjo-5-string" class="normal-links">5-string Banjo Kurse</a>
      </li>
    </ul>
  </details>

  <p>
    <strong>Jetzt direkt spielen!</strong>
  </p>

  <table class="basis-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Komponist</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr style="display:none;">
        <td>1</td>
        <td data-label="Titel">Hammond Flip</td>
        <td data-label="Komponist">Klaus Wunderlich</td>
        <td data-label="Instrument">Organ/Keyboard</td>
      </tr>
      <tr style="display:none;">
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1t78ztmJQ1Qpx6NErVMyF7jJn0zm6cvoX/preview"
            class="normal-links"
          >
            "Hammond Flip" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kurse/hammond-flip-noten/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=244HlpB3JoA"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Hammond Flip ansehen"
            rel="noopener">YouTube Video: Hammond Flip</a
          >
        </td>
      </tr>

      
    </tbody>
  </table>
  <!-- Variante A gefaltet -->
  <br />

  <h2 id="klavier-kurse">Klavier Kurse</h2>

  <table class="basis-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Komponist</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr style="display:none;">
        <td>1</td>
        <td data-label="Titel">Aus der neuen Welt</td>
        <td data-label="Komponist">Antonin Dvorak</td>
        <td data-label="Instrument">Klavier</td>
      </tr>
      <tr style="display:none;">
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1pJepIFMXiLfmynzJQefV6mGy4rekv-gm/preview"
            class="normal-links"
          >
            "Aus der neuen Welt" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/dvorak-aus-der-neuen-welt-largo-klaviernoten-download/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=ytcQ-I1BTNk"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Aus der neuen Welt ansehen"
            rel="noopener">YouTube Video: Aus der neuen Welt</a
          >
        </td>
      </tr>
      
      
      
      <tr>
        <td>5</td>
        <td data-label="Titel">Nocturne Opus 9 No. 2</td>
        <td data-label="Komponist">Frederic Chopin</td>
        <td data-label="Instrument">Klavier</td>
      </tr>
      <tr>
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/14Hx_9XBP4k8P506c0gTK3FwIj8SInqcp/preview"
            class="normal-links"
          >
            "Nocturne Opus 9 No. 2" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/nocturne-opus9-no2-noten/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=yDSxPiFOrEY&t"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Nocturne Opus 9 No. 2 ansehen"
            rel="noopener">YouTube Video: Nocturne Opus 9 No. 2</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Variante gefaltet -->

  
    
   
    
    <div class="basis-header">ID: 5</div>
    <div><span>Titel:</span> Nocturne Opus 9 No. 2</div>
    <div><span>Komponist:</span> Frederic Chopin</div>
    <div><span>Instrument:</span> Klavier</div>
    <div>
      <span>"Nocturne Opus 9 No. 2" anhören:</span><a
        href="https://drive.google.com/file/d/14Hx_9XBP4k8P506c0gTK3FwIj8SInqcp/preview"
        class="normal-links"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a href="/shop/nocturne-opus9-no2-noten/" class="normal-links">
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=yDSxPiFOrEY&t=120s"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Nocturne Opus 9 No. 2 ansehen"
        rel="noopener"
      >
        Nocturne Opus 9 No. 2</a
      >
    </div>
  </div>

  

  
      
        
    
  
  </div>
  

  <h2 id="banjo-5-string">5-string Banjo Kurse</h2>

  <table class="basis-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Komponist</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td data-label="Titel">Nancy Rowland</td>
        <td data-label="Komponist">Snuffy Jenkins</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr>
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/10BD_orSvPDHpAHCrgG1mr90J1CKk8NWZ/preview"
            class="normal-links"
          >
            "Nancy Rowland" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/nancy-rowland-noten-tabs/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://youtu.be/lFrx4fhty3A"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Nancy Rowland ansehen"
            rel="noopener">YouTube Video: Nancy Rowland</a
          >
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td data-label="Titel">Cripple Creek</td>
        <td data-label="Komponist">Traditionell</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr>
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1mJ3TLElxlg_XVzNq8Th9VEzGI0DWtp5x/preview"
            class="normal-links"
          >
            "Cripple Creek" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/cripple-creek-noten-tabs/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=WmYlSqvpUkw"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Cripple Creek ansehen"
            rel="noopener">YouTube Video: Cripple Creek</a
          >
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td data-label="Titel">Train 45</td>
        <td data-label="Komponist">Traditionell</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr>
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1XE5ZI3v9HD0QOTQ6XdRjge8R8TojXEmV/preview"
            class="normal-links"
          >
            "Train 45" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/train45-noten-tabs/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=uo5ojnmRHPo"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Train 45 ansehen"
            rel="noopener">YouTube Video: Train 45</a
          >
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td data-label="Titel">Black Mountain Rag</td>
        <td data-label="Komponist">Traditionell</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr>
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1zJ8eXM_l2-Ib9ja1x8BaNY1La0OgkvPB/preview"
            class="normal-links"
          >
            "Black Mountain Rag" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/black-mountain-rag-noten-tabs/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=44O9ZSf7Dhc"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Black Mountain Rag ansehen"
            rel="noopener">YouTube Video: Black Mountain Rag</a
          >
        </td>
      </tr>
      <tr style="display:none;">
        <td>5</td>
        <td data-label="Titel">Flint Hill Special</td>
        <td data-label="Komponist">Earl Scruggs</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr style="display:none;">
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1wm1MNi3-C03_88A45089bjo136fyS1wL/preview"
            class="normal-links"
          >
            "Flint Hill Special" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kurse/flint-hill-special-noten-tabs/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=R75ZetEwmtw"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Flint Hill Special ansehen"
            rel="noopener">YouTube Video: Flint Hill Special</a
          >
        </td>
      </tr>
      <tr style="display:none;">
        <td>6</td>
        <td data-label="Titel">Dear Old Dixie</td>
        <td data-label="Komponist">Earl Scruggs</td>
        <td data-label="Instrument">Banjo</td>
      </tr>
      <tr style="display:none;">
        <td></td>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1pxojEDmRTBx8CZKYgE3u3wYgf2S5X1U8/preview"
            class="normal-links"
          >
            "Dear Old Dixie" anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/shop/dear-old-dixie-noten-tabs/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=QRUVEtA1vyo"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Dear Old Dixie ansehen"
            rel="noopener">YouTube Video: Dear Old Dixie</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Variante A gefaltet -->
  <br />
  <div class="basis-card">
    <div class="basis-header">ID: 1</div>
    <div><span>Titel:</span> Nancy Rowland</div>
    <div><span>Komponist:</span> Snuffy Jenkins</div>
    <div><span>Instrument:</span> Banjo</div>
    <div>
      <span>"Nancy Rowland" anhören:</span><a
        href="https://drive.google.com/file/d/10BD_orSvPDHpAHCrgG1mr90J1CKk8NWZ/preview"
        class="normal-links"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a href="/shop/nancy-rowland-noten-tabs/" class="normal-links">
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://youtu.be/lFrx4fhty3A"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Nancy Rowland ansehen"
        rel="noopener"
      >
        Nancy Rowland</a
      >
    </div>
    <div class="basis-header">ID: 2</div>
    <div><span>Titel:</span> Cripple Creek</div>
    <div><span>Komponist:</span> Traditionell</div>
    <div><span>Instrument:</span> Banjo</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/10BD_orSvPDHpAHCrgG1mr90J1CKk8NWZ/preview"
        class="normal-links"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>"Cripple Creek" ansehen:</span><a href="/shop/cripple-creek-noten-tabs/" class="normal-links">
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=WmYlSqvpUkw"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Cripple Creek ansehen"
        rel="noopener"
      >
        Cripple Creek</a
      >
    </div>
    <div class="basis-header">ID: 3</div>
    <div><span>Titel:</span> Train 45</div>
    <div><span>Komponist:</span> Traditionell</div>
    <div><span>Instrument:</span> Banjo</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1XE5ZI3v9HD0QOTQ6XdRjge8R8TojXEmV/preview"
        class="normal-links"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>"Train 45" ansehen:</span><a href="/shop/train45-noten-tabs/" class="normal-links">
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=uo5ojnmRHPo"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Train 45 ansehen"
        rel="noopener"
      >
        Train 45</a
      >
    </div>
    <div class="basis-header">ID: 4</div>
    <div><span>Titel:</span> Black Mountain Rag</div>
    <div><span>Komponist:</span> Traditionell</div>
    <div><span>Instrument:</span> Banjo</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1zJ8eXM_l2-Ib9ja1x8BaNY1La0OgkvPB/preview"
        class="normal-links"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>"Black Mountain Rag" ansehen:</span><a
        href="/shop/black-mountain-rag-noten-tabs/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=44O9ZSf7Dhc"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Black Mountain Rag ansehen"
        rel="noopener"
      >
        Black Mountain Rag</a
      >
    </div>

  </div>
  

  <p>
    <a href="#top" class="normal-links" aria-label="Seite nach oben scrollen"
      >Nach oben</a
    >
  </p>
  <p>
    <a href="/kurse/" class="normal-links" aria-label="Zurück zu Kurse"
      >Zurück zu Kurse</a
    >
  </p>
</BaseLayout>
