---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description = "Vielen Dank für deine Zahlung! Dein Noten- & Tabulaturblatt ‚Where Do You Go To My Lovely‘ ist jetzt zum Download verfügbar.";
const keywords = "Where Do You Go To My Lovely, Noten, Tabulatur, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <p><strong>Der Download startet sofort, wenn du auf eine Datei klickst.</strong></p>

  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1MZlvjPLjadSpC0oesgG1f0UCCzYIkimk"  
        class="cta-button">
          📄 Where Do You Go To My Lovely – Guitar als PDF Download
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1hFy5i2i06lTn2J47FFgOz_hA9FiA7mcT"  
        class="cta-button">
          📄 Where Do You Go To My Lovely – Strings als PDF Download
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1H85QO9w2JcEv5ZZZC-xprYDQ9KdWLumR"  
        class="cta-button">
          📄 Where Do You Go To My Lovely – Bass als PDF Download
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1iUm-b7dSLQfmdOGaMxgyO8dSCZ2Vnx2q"  
        class="cta-button">
          📄 Where Do You Go To My Lovely – Lead Sheet als PDF Download
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>