---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Dein Noten- & Tabulaturblatt ‚Ferry Across The Mersey‘ ist jetzt zum Download verfügbar.";
const keywords = "Ferry Across The Mersey, Noten, Tabulatur, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <p><strong>Der Download startet sofort, wenn du auf eine Datei klickst.</strong></p>

  <ul>
    <li>
      <a href="/notes/Ferry%20Across%20The%20Mersey.pdf" download  class="cta-button">
        📄 Ferry Across The Mersey – Noten & Tabulatur
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1_ZVNUmKHPScG2_t3ml0E2-N0c8_CupVC"  class="cta-button">
        📄 Ferry Across The Mersey – Komplettes Arrangment als ZIP Datei
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>