---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description =
  "Vielen Dank für deine Zahlung! Dein Noten ‚Classical Gas‘ ist jetzt zum Download verfügbar.";
const keywords = "Classical Gas, Noten Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <p><strong>Der Download startet sofort, wenn du auf eine Datei klickst.</strong></p>

  <ul>
    <li>
      <a href="/notes/Classical%20Gas%20-%20Guitar%20Orchestr.pdf" download  class="cta-button">
        📄 Classical Gas – Noten
      </a>
    </li>
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>