---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";

const pageTitle = "Danke – Dein Download ist bereit";
const description = "Vielen Dank für deine Zahlung! Dein Noten- & Tabulaturblatt ‚Moonflower‘ ist jetzt zum Download verfügbar.";
const keywords = "Moonflower, Noten, Tabulatur, Download Noten, PDF";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
  noindex={true}
>
  <h1>Danke für deine Zahlung!</h1>

  <h2>Deine Downloads</h2>

  <p><strong>Der Download startet sofort, wenn du auf eine Datei klickst.</strong></p>

  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1eoV9NbQVEkx2vNn3fN3jhWLjDfEfk22-"  class="cta-button" download  class="cta-button">
        📄 Moonflower Guitar
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1WAKFzDgj2v7zUu2eEm8VnWJrY0fqIBnz"  class="cta-button" download  class="cta-button">
        📄 Moonflower ossia Takt 68
      </a>
    </li>    
  </ul>

  <p>
    Falls es Probleme mit dem Download gibt, schreib mir bitte eine kurze
    E-Mail: <br />
    <strong>postmaster@musicstudio-ziebart.de</strong>
  </p>
</BaseLayout>